<div class="uk-section uk-section-muted">
    <div class="uk-container">

        <h2 class="uk-heading-bullet uk-heading-secondary" id="about">About</h2>
        <br>

        <div uk-grid class="uk-grid-match">
            <div class="uk-width-1-3@m">
                <img src="{{profile_pic}}" alt="Profile Picture" class="uk-border-rounded">
            </div>
            <div class="uk-width-expand@m uk-text-middle">
                <div [innerHTML]="about_me_html">
                </div>
            </div>
        </div>
    </div>
</div>
