<div class="uk-section uk-section-muted">
    <div class="uk-container">

        <h2 class="uk-heading-bullet uk-heading-secondary" id="projects">Projects</h2>

        <br>


        <div class="uk-child-width-1-3@m"  uk-grid [hidden]="toggle" *ngIf="projects.length>3">
            <div *ngFor="let project of important_projects;let i = index;">
                <div class="uk-card uk-card-default uk-grid-match">
                    
                    <div class="uk-card-media-top uk-inline" uk-lightbox>
                        <a href="{{project.project_img}}" data-alt="Image" [attr.data-caption]="project.project_name">
                            <img src="{{project.project_img}}" alt="" height="100%" width="100%">
                            <div class="uk-overlay-primary">
                                <div class="uk-position-top-right uk-margin-small-right uk-margin-small-top">
                                    <span uk-icon="icon:expand;" style="color:black;"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="uk-card-body">
                        <span  class="uk-text-bolder">{{project.project_name}}</span> <br>

                        <p class="uk-text-smaller">
                            {{project.project_desc}}
                        </p>
                        <p>
                            <span class="uk-badge" *ngFor="let badge of project.tags">
                                {{badge.tag}}
                            </span>
                        </p>
                        <p uk-margin class="uk-text-center ">
                            <a class="uk-button uk-button-default uk-button-small" *ngIf="project.project_demo.length!=0" href="{{project.project_demo}}" target="_blank">
                                <span uk-icon="link"></span>
                            </a>
                            <a class="uk-button uk-button-default uk-button-small" *ngIf="project.project_code.length!=0" href="{{project.project_code}}" style="margin-left:10px" target="_blank">
                                <span uk-icon="github"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <button class="uk-button uk-button-secondary uk-align-center" type="button" (click)="Toggle()" [hidden]="toggle">
            SHOW MORE
        </button>

        <div class="uk-child-width-1-3@m"  uk-grid [hidden]="!toggle" *ngIf="projects.length>3">
            <div *ngFor="let project of projects;let i = index;">
                <div class="uk-card uk-card-default uk-grid-match">
                    
                    <div class="uk-card-media-top uk-inline" uk-lightbox>
                        <a href="{{project.project_img}}" data-alt="Image" [attr.data-caption]="project.project_name">
                            <img src="{{project.project_img}}" alt="" height="100%" width="100%">
                            <div class="uk-overlay-primary">
                                <div class="uk-position-top-right uk-margin-small-right uk-margin-small-top">
                                    <span uk-icon="icon:expand;" style="color:black;"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="uk-card-body">
                        <span  class="uk-text-bolder">{{project.project_name}}</span> <br>

                        <p class="uk-text-smaller">
                            {{project.project_desc}}
                        </p>
                        <p>
                            <span class="uk-badge" *ngFor="let badge of project.tags">
                                {{badge.tag}}
                            </span>
                        </p>
                        <p uk-margin class="uk-text-center ">
                            <a class="uk-button uk-button-default uk-button-small" href="{{project.project_demo}}" target="_blank">
                                <span uk-icon="link"></span>
                            </a>
                            <a class="uk-button uk-button-default uk-button-small" href="{{project.project_code}}" style="margin-left:10px" target="_blank">
                                <span uk-icon="github"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <button class="uk-button uk-button-secondary uk-align-center" type="button" (click)="Toggle()" [hidden]="!toggle">
            SHOW LESS
        </button>

    </div>
</div>