<div class="uk-section uk-section-muted">
    <div class="uk-container">

        <h2 class="uk-heading-bullet uk-heading-secondary" id="experience">Experience</h2>
        <br>

        <div class="uk-margin uk-margin-auto-right uk-margin-auto@m uk-width-2-3@s uk-card uk-card-default uk-card-body"
            *ngFor="let experience of experiences">
            <span class="uk-text-bolder">
                {{experience.Designation}}
            </span> <br>
            <span>
                {{experience.Company}}
            </span> <br>
            <span>
                {{experience.Start_Date}} - {{experience.End_Date}}
            </span>
            <ul class="uk-list uk-list-hyphen ">
                <div [innerHTML]="BuildHTML(experience.Job_Details)"></div>
            </ul>
            <p >
                <span class="uk-badge uk-text-center" *ngFor="let badge of experience.tags" style="background-color: black; margin-left: 5px; margin-top: 5px; padding: 10px;
                ">
                    {{badge}}
                </span> 
            </p>

        </div>
    </div>
</div>